!!!
%html
  %head
    %title Komplett Developer Conference
    = haml :"templates/header_imports"
  %body
    = haml :"templates/nav"
    .container
      %h3
        Call for Papers
      %p
        Are you ready for Komplett Developer Conference?! This fall, KDC kicks off the 18th of September, be there or be square! Call for Papers deadline is 10th of August.
        %br
        Submit your speach in the form below.
      %br
      %form.form-horizontal{:method => "post", :role => "form"}
        %fieldset
          .control-group
            %label.control-label{:for => "title"} Title
            .controls
              %input#tittel.input-xlarge{:name => "title", :placeholder => "Title", :required => "", :type => "text", :style => "width: 100%;"}
          .control-group
            %label.control-label{:for => "description"} Description
            .controls
              %textarea#beskrivelse{:name => "description", :placeholder => "Description", :required => "", :style => "width: 100%;", :rows => "4"}
          .control-group
            %label.control-label{:for => "format"} Format
            .controls
              %select#format.input-xlarge{:name => "format", :style => "width: 100%;"}
                %option{:value => "45"} 45 minute talk
                %option{:value => "30"} 30 minute talk
                %option{:value => "15"} 15 lightning talk
          .control-group
            %label.control-label{:for => "track"} Track
            .controls
              %select#selectbasic.input-xlarge{:name => "track", :style => "width: 100%;"}
                %option{:value => "business"} Business / Requirement Specification
                %option{:value => "process"} Process
                %option{:value => "qa"} QA / Testing
                %option{:value => "front-end"} Front-end Development
                %option{:value => "back-end"} Back-end Development
                %option{:value => "architecture"} Architecture
                %option{:value => "devops"} DevOps
                %option{:value => "other"} Other
          .control-group
            %label.control-label{:for => "speaker"} Speaker
            .controls
              %input#tittel.input-xlarge{:name => "speaker", :placeholder => "Speaker", :required => "", :type => "text", :style => "width: 100%;"}
          .control-group
            %label.control-label{:for => "submit"}
            .controls
              %button#submit.btn.btn-default{:name => "submit"} Submit
              %button#cancel.btn.btn-default{:name => "clear", :type => "reset"} clear
          .control-group
      %br
